* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 13px;
    line-height: 15px;
    font-family: arial, sans-serif;
    color: #000;
    background: #fff
    min-width: 980px;
}

html, body { height: 100%; }




a { color: #0252aa; text-decoration: none; cursor: pointer; }
a img { border: 0; }


#top { 
	background: linear-gradient(#4b4b4b, #1c1c1c 80%, #2a2a2a); height: 38px; padding: 7px 4px 0 0; }
.top-nav { float: left; display: inline; padding: 10px 0 0 0; font-size: 12px; line-height: 12px; }
.top-nav ul li { float: left; display: inline; padding: 0 13px; border-right: solid 1px #4bb1e5; }
.top-nav ul li a { float: left; color: #aee4ff; }

.case { padding: 0 0 45px 0; }
.case h1 { padding: 0 0 12px 15px; background: url(images/border.png) repeat-x 0 bottom; font-style: italic; font-family: georgia, serif; }

.row { padding: 20px 0 23px 0; background: url(images/border.png) repeat-x 0 bottom; width: 980px; overflow: hidden; }
.last-row { background: none; }
.row ul { width: 1017px; display: block; position: relative; }
.row ul li { float: left; display: inline; width: 232px; height: 266px; padding: 0 19px 0 0; }




.product { background:  width: 202px; height: 252px; padding: 14px 14px 0 16px; display: block; font-size: 14px; line-height: 18px; color: #2f3032; font-family: georgia, serif; }
.product { font-style: italic; }
.product img { padding: 0 0 10px 0; position: relative; margin-left: -2px; }
.product .order { display: block; }
.product .model { font-size: 16px; color: #1898d6; padding: 0 0 2px 0; }
.product .number { font-family: arial, sans-serif; font-style: normal; }
.product .price { font-size: 28px; line-height: 40px; float: right; display: inline; font-style: normal; color: #1898d6; font-weight: bold; }
.product .sub-text { font-size: 20px; line-height: 20px; vertical-align: super; }
.product .dollar { font-size: 20px; }


.contact_form ul 
{
    width:650px;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.contact_form li
{
	padding:15px; 
	border-bottom:1px solid #777;
	position:relative;
} 
